body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color:royalblue;
}

.main {
    display: block;
    width: 23.125rem;
    border: 0.0625rem lightgrey solid;
    border-radius: 0.5rem;
    padding: 2.5rem;
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.login {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
}

.email {
    display: block;
    width: 100%;
    padding: 1.25rem 0;
    text-indent: 1rem;
    font-size: 1rem;
    color: grey;
    border: 0.0625rem lightgrey solid;
    border-radius: 0.25rem;
}

.senha {
    line-height: 2;
    display: block;
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
}

.privada {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.3;
    color: grey;
}

.saiba {
    font-size: 0.9rem;
    font-weight: bold;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 3.125rem;
    padding-bottom: 1.5625rem;
}

.criar {
    padding: 0.625rem 0.9375rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.25rem;
    position: relative;
    right: 0.9375rem;
}

.criar:hover {
    background-color: whitesmoke;
}

.avancar {
    padding: 0.625rem 1.5625rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: royalblue;
    border-radius: 0.25rem;
    color: white;
}

.avancar:hover {
    background-color: blue;
}

.footer-2-content {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    position: absolute;
    list-style: none;
    right: 1.25rem;
    bottom: -5rem;
}

li {
    padding: 1.875rem 1.25rem;
    color: grey;
    font-size: 0.8rem;
}
